@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');

*{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    background-color: var(--color6);
    color: var(--color5);
    font-size: 20px;
    font-family: 'Syne', sans-serif;

    /* variables */
    --border-radius: 100px;
    --color1: #1c47ff;
    --color2: #d6a3fb;
    --color3: #d0ff94;
    --color4: #e5e5e5;
    --color5: #FFFFFF;
    --color6: #000000;
    --color7: #1f1a1c;
    --gutter: 3.125vw 6.25vw;
}

h1{
    font-size: 70px;
    line-height: 1em;
    margin: 0px;
}
h2{
    font-size: 60px;
    margin: 0px;
}
a{
    color: var(--color5);
    text-decoration: none;
}

section{
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    top: 100px;
    z-index: 2;
}

.sticky{
    position: sticky;
    margin-top: 100px;
}
.full-screen{
    height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: 3;
}

/* navegation */

nav{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 1;
}
nav ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav ul li{
    list-style: none;
    margin-left: 45px;
}
nav ul li a{
    color: var(--color5);
    font-family: "Space Mono", monospace;
}

/* about section */

.about .empty{
    flex-basis: 37.5vw;
    background-color: var(--color4);
    border-radius: var(--border-radius);
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
}
.about article{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.about article .title{
    flex: 1;
    display: flex;
    align-items: flex-end;
    background-color: var(--color1);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
}
.about article .description{
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--color2);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    color: var(--color6);
}

/*services section*/

.services article{
    display: flex;
    width: 100%;
}
.services figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0;
    background: var(--color3);
    border-radius: var(--border-radius);
    max-width: 62.5vw;
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
}
.services figure img{
    width: 40%;
}
.services .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: var(--color7);
    padding: var(--gutter);
    border-radius: var(--border-radius);
}
.services .text a{
    font-family: "Space Mono", monospace;
}

/* service section animation */

.services-html figure img{
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);
}
.services-css figure img{
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);
}
.services-js figure img{
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);
}

/* keyframes */

@keyframes float{
    0%{
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(5%);
    }
}
@keyframes scale{
    0%{
        transform: scale(.75);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
    }
}

/* service section overrides */

.services-html figure{
    background: var(--color3);
}
.services-html .text h2,
.services-html .text a{
    color: var(--color2);
}
.services-css figure{
background: var(--color1);
}
.services-css .text h2,
.services-css .text a{
    color: var(--color3);
}
.services-js figure{
    background: var(--color2);
}
.services-js .text h2,
.services-js .text a{
    color: var(--color2);
}

/* contact section */

.contact{
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--color1), var(--color3) 60%, var(--color2) 70%, var(--color4));
    border-radius: var(--border-radius);
}

.contact a{
    font-size: 80px;
    color: var(--color6);
    font-weight: bold;
    transition: 2s cubic-bezier(.77,.28,.42,.93);
}
.contact a:hover{
    color: var(--color5);
    filter:blur(20px);
}

/* responsive */

@media only screen and (max-width: 768px) {
 html, body{
    --border-radius: 50px;
    --gutter: 6.25vw;
 }
 h1{
    font-size: 60px;
 }
 h2{
    font-size: 40px;
 }
 nav ul li{
    margin-left: 25px;
 }

 .services article{
    flex-direction: column;
 }
 .services figure{
    flex-basis: 25vh;
 }
 .services figure img{
    width: 20%;
 }
 .contact a{
    font-size: 30px;
    transform: rotate(90deg);
 }
}
