@media screen and (max-width: 1127px){
    .services{
        article{
            flex-direction: column;
            figure{
                flex-basis: 25vh;
                min-width: 100%;
                min-height: 40%;
                img{
                    width: 30%;
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    nav{
        ul{
            li{
                margin-left: 25px;
            }
        }
    }
    .contact{
        .container-contact{
            display: grid;
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
                "instagram github"
                "facebook correo"
                "linkedin whatsapp";
                .instagram {
                    justify-self: end; 
                    align-self: end; 
                    grid-area: instagram; 
                  }
                  .linkedin {
                    justify-self: end; 
                    align-self: start; 
                    grid-area: linkedin; 
                  }
                  .github {
                    justify-self: start; 
                    align-self: end; 
                    grid-area: github; 
                  }
                  .correo {
                    justify-self: start; 
                    align-self: center; 
                    grid-area: correo; 
                  }
                  .whatsapp {
                    justify-self: start; 
                    align-self: start; 
                    grid-area: whatsapp; 
                  }
                  .facebook {
                    justify-self: end; 
                    align-self: center; 
                    grid-area: facebook; 
                  }
            a{
                img{
                    width: 60%;
                }
            }
        }
    }
}
@media screen and (max-width: 545px){
    .about{
        .empty{
            display: none;
        }
        article{
            .title{
                padding-bottom: 50px;
                max-height: 45%;
            }
        }
    }
    body{
        nav{
            ul{
                li{
                    margin-left: 20px;
                    font-size: 18px;
                }
            }
        }
    }
}
@media screen and (max-width: 420px){
    body{
        nav{
            ul{
                li{
                    margin-left: 10px;
                }
            }
        }
    }
    .services{
        article{
            figure{
                min-height: 30%;
            }
        }
    }
}
@media screen and (max-height: 668px){
    .description{
        p{
            font-size: 16px;
        }
    }
    .services{
        article{
            .text{
                p{
                    font-size: 16px;
                }
            }
        }
    }
}