.about{
    .empty {
        flex-basis: 37.5vw;
        background-color: rgba($color1, 0.6);
        border-radius: nth($border-radius, 1);
        transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
        min-width: 15.625vw;
        box-shadow: inset -20px 20px 17px rgba(121, 157, 66, 0.5),
                    inset 20px -20px 17px rgba(251, 255, 138, 0.5);
    }
    article{
        flex: 1;
        display: flex;
        flex-direction: column;
        .title{
            flex: 1;
            display: flex;
            align-items: flex-end;
            background-color: rgba($color2, 0.8);
            border-radius: nth($border-radius, 1);
            padding: nth($gutter, 1);
            transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
            box-shadow: inset -20px 20px 17px #3a3a3a,
            inset 20px -20px 17px #787878;
            h1{
                animation-name: float;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: cubic-bezier(.77,.28,.42,.93);
            }
        }
        .description{
            flex: 1;
            display: flex;
            align-items: center;
            background: $color5;
            border-radius: nth($border-radius, 1);
            padding: nth($gutter, 1);
            color: $color4;
            box-shadow: inset -20px 20px 17px #414b33,
            inset 20px -20px 17px #879b69;
        }
    }
}