.services-html{
    article{
        figure{
            background: $color3;
            box-shadow: inset -20px 20px 17px #485b2b,
            inset 20px -20px 17px #96bd59;
            img{
                animation-name: float;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: cubic-bezier(.77,.28,.42,.93);
            }
        }
        .text{
            h2, a{
                color: $color5;
            }
            a{
                transition: .5s;
                &:hover{
                    -webkit-text-stroke: .5px white;
                }
            }
        }
    }
}
.services-css{
    article{
        figure{
            background: $color2;
            box-shadow: inset -20px 20px 17px #3a3a3a,
            inset 20px -20px 17px #787878;
            img{
                animation-name: scale;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: cubic-bezier(.77,.28,.42,.93);
            }
        }
        .text{
            h2, a{
                color: $color3;
            }
            a{
                transition: .5s;
                &:hover{
                    -webkit-text-stroke: .5px white;
                }
            }
        }
    }
}
.services-js{
    article{
        figure{
            background: $color5;
            box-shadow: inset -20px 20px 17px #414b33,
            inset 20px -20px 17px #879b69;
            img{
                animation-name: rotate;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: cubic-bezier(.77,.28,.42,.93);
            }
        }
        .text{
            h2, a{
                color: $color2
            }
            a{
                transition: .5s;
                &:hover{
                    -webkit-text-stroke: .5px white;
                }
            }
        }
    }
}

